html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  letter-spacing: 1.2px;
  background-color: #ece4b7;
  color: #3b7080;
}

h4 {
  margin: 0;
}

#root {
  width: 100%;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  h4 {
    font-size: 2em;
  }
}

@media only screen and (min-width: 1024px) {
  .app-container {
    flex-direction: row;
  }
}
